<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,user-scalable=0" />
	<!-- build:css assets/css/main.css -->
	<link rel="stylesheet" type="text/css" href="{{basePath}}assets/css/font.css">
	<link rel="stylesheet" type="text/css" href="{{basePath}}assets/css/cards.css">
	<!-- endbuild -->
</head>

<body data-app-type="NM" data-platform-version="{{#platform_version}}{{platform_version}}{{/platform_version}}" data-message-id="{{#message_id}}{{message_id}}{{/message_id}}" data-base-path="{{basePath}}">
	<div id="back-nav" class="clearfix">
		<div class="vertical-center back-icon-container go-back">
			<img src="{{basePath}}assets/images/back.png" class="back-icon" id="back-icon" alt="back">
		</div>
		<div class="title-search-icon-container clearfix" id="title-search-icon-container">
			<h1 class="category-list-title go-back" id="category-title"></h1>
			<div class="vertical-center search-icon-container">
				<img src="{{basePath}}assets/images/search2.png" id="search-icon" class="search-icon" alt="">
			</div>
		</div>
		<div id="search-field-container">
			<input type="text" class="search-field" id="search-field" placeholder="Search">
		</div>
	</div>
	<div id="main-section">
		<div class="hero" id="hero-section">
			<img class="hero-img" src="{{basePath}}assets/images/hero.png" alt="">
		</div>
		<div class="category-list-container">
			<h1 class="category-list-title" id="main-title">How can we help?</h1>
			<ul class="category-list" id="category-list"></ul>
		</div>
	</div>
	<div id="last-section">
		<div class="prompt clearfix">
			<span>tell us more</span>
		</div>
		<div>
			<textarea name="what-text" id="feedback-text" rows="10" autocorrect="off" autocapitalize="off"></textarea>
		</div>
		<div id="attachment-container" class="attachment-container">
			<span>Attach screenshots (Optional)</span>
			<div class="attachment-row clearfix">
				<div class="attachment">
					<img class="attach-file" src="{{basePath}}assets/images/plus.png">
					<div class="img-upload-loader"></div>
					<img class="delete-file" src="{{basePath}}assets/images/cross.png" alt="x">
				</div>
				<div class="attachment disabled">
					<img class="attach-file" src="{{basePath}}assets/images/plus.png">
					<div class="img-upload-loader"></div>
					<img class="delete-file" src="{{basePath}}assets/images/cross.png" alt="x">
				</div>
				<div class="attachment disabled">
					<img class="attach-file" src="{{basePath}}assets/images/plus.png">
					<div class="img-upload-loader"></div>
					<img class="delete-file" src="{{basePath}}assets/images/cross.png" alt="x">
				</div>
			</div>
		</div>
		<div class="submit">
			<button id="submit-btn" class="submit-btn btn">Done</button>
			<div id="mail-link-container">
				<span>Something went wrong</span>
				<a href="javascript:void(0)" class="mail-link">Share feedback by email</a>
			</div>
		</div>
	</div>
	<div id="thank-section" class="vertical-center">
		<div class="thank-section-container">
			<div class="hero">
				<img class="hero-img" src="{{basePath}}assets/images/thanks.png" alt="">
			</div>
			<div class="thank-note">
			<span>Done!</span>
			<!-- <div id="thank-you-text"></div> -->
			<p>Your Ticket ID <span id="thank-section-ticket-id"></span><br>has been submitted and we'll be in touch within the next 24 hours.</p>
			<p>You'll receive a chat message when we respond to the ticket.</p>
		</div>
		<div class="thank-note">
			<span>Done!</span>
			<p>Thanks for reporting the issue.<br>We will look into it.</p>
		</div>
			<div class="home-btn-container">
				<button id="home-btn" class="btn">Go to help home</button>
			</div>
		</div>
	</div>

	<div id="past-issue-section" class="">
		<ul id="past-issue-list" class="category-list past-issue-list">
		</ul>
		<div class="small-loading" id="small-loading-bar"><img id="loading" src="{{basePath}}assets/images/ic_wallet_loader@2x.png" alt="x"></div>

			<!-- <ul id="past-issue-list" class="">

		</ul> -->
	</div>

	<div id="past-issue-details" class="past-issue-details-list">
		<div class="ticket-menu-container">
			<div class="ticket-menu" id="ticket-menu">

			</div>
		</div>

		<div class="small-loading" id="conv-small-loading-bar"><img id="loading" src="{{basePath}}assets/images/ic_wallet_loader@2x.png" alt="x"></div>

		<ul id="issue-conversation-list">

		</ul>

		<div class="message-section" id="resolved-section">
			<div>
				<img src="{{basePath}}assets/images/ic_tick.png" class="back-icon" id="tick-icon" alt="back">

				<!-- <span class="asset-image">
					<img src="{{basePath}}assets/images/ic_tick.png" class="back-icon" id="back-icon" alt="back">
				</span> -->

				<span class="resolved-text">Your issue was resolved</span>
				<button id="resolved-btn" class="btn">I'm still facing the issue</button>
			</div>
		</div>

		<div class="message-section" id="message-section">
			<!-- <span class="resolved-text">Our agent will reply within 24 hours</span> -->

			<div style="border-top: 1px solid #EBEBEB;">
				<textarea name="what-text" id="new-message" autocorrect="off" autocapitalize="off" placeholder="Type a reply..."></textarea>
				<div class="reply-attachment">
					<span class="vertical-line-attachment"></span>
					<img class="attachment-content" src="{{basePath}}assets/images/ic_med_gallery.png" alt="back">
				</div>
				<button id="submit-message-btn" class="submit-btn btn">Send</button>
			</div>
		</div>

	</div>
	<!-- <div id="answers-section">
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
		<div class="button-section">
			<div class="satisfaction-button"><button type="button" id="unhappy-btn" class="btn unhappy-btn" name="button">unhapy</button></div>
			<div class="satisfaction-button"><button type="button" id="happy-btn" class="btn unhappy-btn" name="button">happy</button></div>
		</div>
	</div> -->



	<div id="answers-section">

		<div id="answer-part-div">
			<div class="qna-div">
				<span class="qna-circle">Q</span>
				<p id="question-part"></p>
			</div>
			<div class="qna-div">
				<span class="qna-circle">A</span>
				<p id="answer-part"></p>
			</div>

		</div>
		<div id="satisfaction-section">
			<span class="issue-solved-span">Is your issue fixed?</span>
			<div class="satisfaction-buttons">
				<button type="button" id="unhappy-btn" class="happy-unhappy-btn" name="button">No</button>
				<button type="button" id="happy-btn" class="happy-unhappy-btn" name="button">Yes</button>
			</div>
		</div>
	</div>
	<div class="grey-space" id="last-conversation-space"></div>

	<div class="loading" id="loading-bar"><img id="loading" src="{{basePath}}assets/images/ic_wallet_loader@2x.png" alt="x"></div>

	<!-- <div class="loading" id="loading-bar"></div> -->


	<!-- <div class="loader" id="loader"></div> -->

	<div id="past-issue-section-from-cbot">
		<div class="wrap">
			<figure class="icon">
				<figcaption>Past issues list from cbot</figcaption>
			</figure>
			<!-- <button id="retry-internet" class="btn cta primary tapable">RETRY</button> -->
		</div>
	</div>


<div id="no-content-section">
	<div class="wrap">
		<figure class="icon">
			<img src="{{basePath}}assets/images/no_past_issues@2x-1.png" width="100">
			<figcaption>No reported issues</figcaption>
			<span class="text_primary" id="no-content">
				You can report an issue you’re facing with Hike via <strong>Settings > </strong><strong>Help > </strong><strong>Report an Issue</strong></span>
		</figure>
		<!-- <button id="retry-internet" class="btn cta primary tapable">RETRY</button> -->
	</div>
</div>

<div id="server-error">
	<div class="wrap">
		<figure class="icon">
			<!-- <img src="{{basePath}}assets/images/server_error.png" width="100"> -->
			<figcaption>Whoops something went wrong</figcaption>
			<span class="text_primary" id="no-content">
				There is unexpected error from server. we are trying to fix it
			</span>
		</figure>
		<button id="retry-internet-button" class="btn cta primary tapable">RETRY</button>
	</div>
</div>

	<div id="network-status"> No Internet Connection</div>
	<div id="rainy-cloud">
		<div class="wrap">
			<figure class="icon">
				<img src="{{basePath}}assets/images/nointernet.png" width="72">
				<figcaption> No Internet access </figcaption>
				<span class="text_primary">Try turning on your <strong>WiFi</strong> or <strong>Mobile Data</strong> for using the app</span>
			</figure>
			<!-- <button id="retry-internet" class="btn cta primary tapable">RETRY</button> -->
		</div>
	</div>
	<!-- build:js assets/js/main.js -->
	<script language="javascript" type="text/javascript" src="{{basePath}}assets/js/platformSdk.js"></script>
	<script language="javascript" type="text/javascript" src="{{basePath}}assets/js/data.js"></script>
	<script language="javascript" type="text/javascript" src="{{basePath}}assets/js/app.js"></script>
	<!-- endbuild -->
</body>

</html>
