* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}

.alignCenter {
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  margin: 0px;
  padding: 0px;
  color: #333;
}

.slide-up,
.slide-down {
  max-height: 0;
  overflow-y: hidden;
  -webkit-transition: max-height 0.5s ease-in-out;
  -moz-transition: max-height 0.5s ease-in-out;
  -o-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

.slide-down {
  max-height: 15em;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.inline-block {
  display: inline-block;
}

.row {
  border-bottom: 1px solid #eee;
  padding: 15px;
}

.row:last-of-type {
  border-bottom: 0px;
}

.column {
  display: inline-block;
  width: 32%;
  text-align: center;
  vertical-align: top;
}

.column--10 {
  width: 10%;
}

.column--40 {
  width: 40%;
}

.column--80 {
  width: 80%;
  max-width: 250px;
}

.clearfix:after {
  content: " ";  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

body.card-layout {
  padding: 4px;
}

.card-layout .card {
  box-shadow: 0px 1px 2px 0px #aaa;
  margin: 1.5%;
  border-radius: 2px 2px 3px 3px;
  -webkit-animation-duration: 0.478489320003428s;
  animation-duration: 0.478489320003428s;
}

.card.scale-up {
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.6;
  -webkit-animation: scaleUp 0.65s ease-in-out forwards;
  animation: scaleUp 0.65s ease-in-out forwards;
}

@-webkit-keyframes scaleUp {
  0% {
  }

  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }

}

@keyframes scaleUp {
  0% {
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

}

.card.move-up {
  -webkit-transform: translateY(200px);
  transform: translateY(200px);
  -webkit-animation: moveUp 0.35s ease-in forwards;
  animation: moveUp 0.35s ease-in forwards;
}

@-webkit-keyframes moveUp {
  0% {
  }

  70% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }

}

@keyframes moveUp {
  0% {
  }

  70% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

}

.card.half {
  display: inline-block;
  width: 47%;
  float: left;
}

.card-content {
  height: 150px;
  padding: 8px 10px;
  background-color: #f1f4f9;
  border-width: 0;
}

.vertical-center {
  text-align: center;
}

.vertical-center:after {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}

.vertical-center img {
  display: inline-block;
  vertical-align: middle;
}

.card-meta {
  padding: 10px 12px;
  border-top: 1px solid #ecf0f1;
  font-weight: 300;
  font-size: 13px;
  color: #999;
  border-radius: 0px 0px 3px 3px;
  background-color: #fff;
}

.card-meta span:last-child {
  float: right;
}

.share-container {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 8px 10px;
}

.share-container:before {
  content: " ";
  width: 0px;
  height: 0px;
  position: absolute;
  right: 0;
  bottom: 0;
  border: 30px solid rgba(0, 0, 0, 0.11);
  border-left-color: transparent;
  border-top-color: transparent;
}

.share-container img {
  width: 16px;
  z-index: 1;
}

/* ========= search bar styling ========= */
.hero {
  text-align: center;
  padding-top: 30px;
  background-color: #f5f5f5;
}

.hero-img {
  width: 100px;
  vertical-align: bottom;
  margin-bottom: -7px;
}

#thank-section .hero-img {
  width: 80px;
}

#thank-section .hero {
  padding-top: 0;
  background-color: transparent;
}

.category-list-container {
  padding: 0px 10px 10px;
}

h1.category-list-title {
  font-size: 18px;
  padding-left: 17px;
  margin-bottom: 12px;
  font-weight: 300;
  text-transform: capitalize;
  margin-top: 40px;
  color: #000;
}

ul.category-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1[style*="none"]+ul#category-list li {
  margin: 0 11px;
}

li.category {
  margin: 0 17px;
  -webkit-tap-highlight-color: #f5f5f5;
}

li.category>span,
li.category>div {
  padding: 17px 0;
}

li.category>span {
  display: block;
  line-height: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.span-counter {
  /*display: inline-block !important;*/
  float: right;
  height: 24px;
  width: 27px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding-top: 4px;
  border-radius: 4px;
  background-color: #1DA8E8;
}
.new-notif {
  color: #1E81F5 !important
}

li.category .cat-type-icon-container+span {
  padding: 18px 0;
  margin-left: 34px
}

li.category .cat-type-icon-container {
  float: left;
  max-height: 54px;
}

ul.forward li.category.animate {
  -webkit-animation: bouncySlideInLeft 200ms ease-in;
  animation: bouncySlideInLeft 200ms ease-in;
}

ul.backward li.category.animate {
  -webkit-animation: bouncySlideInRight 200ms ease-in;
  animation: bouncySlideInRight 200ms ease-in;
}

@-webkit-keyframes bouncySlideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

}

@keyframes bouncySlideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

}

@-webkit-keyframes bouncySlideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

}

@keyframes bouncySlideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

}

#category-list .cat-type-icon {
  max-width: 20px;
  max-height: 20px;
  vertical-align: middle;
  margin-right: 16px;
}

input#search-field {
  ;
  width: 100%;
  border: none;
  padding: 0;
  font-size: 16px;
  line-height: 1.4;
  color: #0f8fe1;
  display: none;
  background-color: transparent;
}

input#search-field::-webkit-input-placeholder {
  color: #c0c0c0;
}

div#last-section{
  position: relative;
  top: 48px;
}

div#last-section,
#thank-section, #answers-section{
  background-color: #fff;
  padding: 20px 27px;
  font-size: 14px;
  display: none;
  margin-top: 0px;
  -webkit-animation: bouncySlideInLeft 200ms ease-in;
}

#past-issue-section {
  background-color: #fff;
  padding: 20px 27px;
  font-size: 14px;
  display: none;
  margin-top: 0px;
}

#past-issue-details {
  background-color: #fff;
  padding:  45px 0 0 0;
  font-size: 14px;
  display: none;
  margin-top: 0px;
  -webkit-animation: bouncySlideInLeft 200ms ease-in;
}

#past-issue-section-from-cbot {
  display: none;
}

#past-issue-section .past-issue-list {
  padding-top: 8px;
  /*margin-bottom: 14px;*/
  list-style: none;
}

#past-issue-section ul li.category {
  border-bottom: 1px solid #EBEBEB;
  margin: 0 17px 0px 22px;
  display: block;
  /*padding: 6px 0px 0px 8px;*/
  -webkit-tap-highlight-color: #f5f5f5;
}

#past-issue-section ul li.category>div {
  padding: 9px 0;
  /*padding: 0px 16px 16px 16px;*/
}

#past-issue-section ul li.category span {
  /*display: block;*/
  /*padding-bottom: 5px;*/
  /*padding: 0 0 0 0;*/
  /*border-bottom: none;*/
}

#past-issue-section ul li.category span.subject {
  display: block;
  /* display: inline-block; */
  font-size: 16px;
  /* padding-bottom: 5px; */
  font-weight: bold;
  font-family: 'Roboto-Bold';
  word-wrap: break-word;
  color: #333333;

}

#past-issue-section ul li.category span.creation-time {
  /* margin-right: -100px; */
  /* float: right; */
  /* padding-top: 5px; */
  /* display: block; */
  font-size: 12px;
  /* padding-bottom: 5px; */
  font-weight: normal;
  /* margin-top: 8px; */
  color: #9C9C9C;
  /* padding-left: 5px; */
  float: right;
}

#past-issue-section ul li.category span.ticket-id {
  /*margin-top: 11px;*/
  /*margin-top: 5px;*/
  /*display: inherit;*/
  font-size: 12px;
  font-weight: normal;
  color: #8F8F8F;
}

.ticket-menu-container {
  background: #F5F5F5;
}

#past-issue-details .ticket-menu {
  /* margin-top: 3px; */
  border-top: 4px solid #E1E1E1;
  /* border-top: 2px solid #E0E0E0; */
  /* position: fixed; */
  /* margin-left: 10px; */
  /* margin-right: -11px; */
  /* top: 48px; */
  /* left: 0px; */
  /* right: 0px; */
  width: 90%;
  height: 60px;
  margin-left: 20px;
  /* margin-top: 0px; */
  /* background: #F5F5F5; */
  color: #9F9F9F;
  z-index: 100;
  font-size: 15px;
  /* padding: 16px; */
  /*border: 2px solid #E0E0E0;
  position: fixed;
  top: 48px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 70px;
  background: #EBEBEB;
  color: #9F9F9F;
  z-index: 100;
  font-size: medium;
  padding: 16px 0px 0px 16px;*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#past-issue-details .ticket-menu .last {
  display: block;
}

.ticket-menu>div {
  display: inline-block;
}

#ticket-menu .issue-status{
  /*margin-left: 115px;*/
}

#answers-section p{
  /* width: 100%; */
  /* border: 1px solid #d8d8d8; */
  /* border-radius: 6px; */
  /* height: 160px; */
  /* resize: none; */
  line-height: 1.5;
  /* margin-top: 15%; */
  margin-bottom: 20px;
  padding: 7px 0px;
  font-family: 'Roboto';
  color: #3d475b;
  font-size: 16px;
}

#question-part {
  font-size: 16px;
  font-weight: bold;
	line-height: 1.5;
	color: #3D475B;
  /*text-transform: capitalize;*/
}

.issue-solved-span {
  font-size: 12px;
  color: #4C4C4C;
  display: inline-block;
  margin-top: 10px;
}

#answer-part {
  /*padding-top: 30px;*/
  display: block;
  padding: 50px 0px 0px 16px;
  font-size: 14px;
  line-height: 22px;
  color: #4C4C4C;
}

#answers-section {
  padding: 20px 20px !important;
}
#answers-section .button-section {
  width:100%;
  text-align: center;
}

#answers-section .button-section .satisfaction-button{
  display: inline-block;
}

.satisfaction-buttons {
  float: right;
  /*display: inline-block;
  padding-left: 36px;*/
}

#answers-section .attachment {
  text-align: center;
  padding-top: 20px;
}

#answers-section .attachment button {
  /*float: left;
  width: 45%;*/
}

/*#answers-section .attachment .unhappy-btn {
  float: right;
}*/

/*#happy-btn {
  border: 1px solid #39CF8E;
  color: #39CF8E;
}

#unhappy-btn {
  border: 1px solid #D77686;
  color: #D77686;
}*/

#tick-icon {
  padding: 0 0 0px 23px;
}

#resolved-btn {
  padding-top: 18px;
  margin-top: 14px;
  font-size: 12px;
  font-weight: bold;
  /* position: fixed; */
  /* display: block; */
  /* bottom: -20px; */
  width: 100%;
  left: 0;
  /* height: 30px; */
  right: 100px;
  background-color: #FFFFFF;
  color: #0F8FE1;
  font-size: 12px;
  z-index: 100;
  cursor: pointer;
  margin-bottom: 0;
  border-radius: 0;
  border: none;
  border-top: 1px solid #0F8FE1;
  text-transform: lowercase;
}

#answer-part-div {
  margin-top: 14%;
  /*height: 520px;*/
  overflow-y: scroll;
  margin-bottom: 14%;
}

.qna-div {
    /*padding-bottom: 15px;*/
}
#satisfaction-section {
  position: fixed;
  bottom: 0;
  border-top: 1.5px solid #F4F4F4;
  width: 90%;
  padding-top: 14px;
  background-color: #fff;
  margin: auto;
  overflow: hidden;
  display: inline-block;
}

#resolved-section {
  padding-top: 16px;
  padding-bottom: 10px;
  display: none;
  /* padding: 16px 16px 16px 16px; */
  position: fixed;
  /* bottom: 14px; */
  /* height: 60px; */
  background-color: #fff;
  border-top: 1px solid #EBEBEB;
}

.resolved-text {
  color: #39CF8E;
  font-size: 16px;
  padding: 0 0 0 16px;
  position: absolute;
}

/*.resolved-text {
  color: #39CF8E;
  font-size: 16px;
  padding: 0 0 0 16px;
}*/

.happy-unhappy-btn {
  width: 80px !important;
    height: 36px;
    font-size: 12px;
    /* text-align: center; */
    /* font-size: 13px; */
    background-color: #fff;
    /* text-transform: uppercase; */
    /* margin-right: 12px; */
    border-radius: 24px;
    /* letter-spacing: .4px; */
    color: #1E81F5;
    border: 1px solid #1E81F5;
    /* font-weight: 400; */
    line-height: 1;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 10px;
    text-transform: uppercase;
}

#last-section.backward {
  -webkit-animation: bouncySlideInRight 200ms ease-in;
}

#past-issue-list.backward {
  -webkit-animation: bouncySlideInRight 200ms ease-in;
}

#answers-section.backward {
  -webkit-animation: bouncySlideInRight 200ms ease-in;
}

#past-issue-section {
  display: none;
}

.prompt span {
  float: left;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}

#last-section .prompt button {
  float: right;
  padding: 5px 10px;
  font-size: 12px;
}

#last-section textarea {
  width: 100%;
  border: 1px solid #d8d8d8;
  border-radius: 6px;
  height: 160px;
  resize: none;
  margin-bottom: 20px;
  padding: 7px 10px;
  font-family: 'Roboto', sans-serif;
  color: #606060;
}

#last-section .attachment-row {
  padding: 14px 0 22px;
}

#last-section .attachment {
  text-align: center;
  border: 1px dashed #d8d8d8;
  background-color: #fff;
  border-radius: 4px;
  width: 28%;
  margin-right: 8%;
  float: left;
  height: 90px;
  position: relative;
  padding: 32px 0;
}

#last-section .attachment.disabled .attach-file {
  opacity: 0.3;
}

#last-section .attachment.disabled {
  background-color: #fafafa;
  border: 1px dashed #e9e9e9;
}

#last-section > .prompt {
  margin-bottom: 14px;
}

#attachment-container > span {
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}

#last-section .attachment.uploading,
#last-section .attachment.uploaded {
  padding: 0;
  border: none;
}

#attachment-container img {
  height: 20px;
}

#attachment-container .uploading img,
#attachment-container .uploaded img {
  height: 100%;
  width: 100%;
  border-radius: 4px;
}

#attachment-container img.delete-file {
  position: absolute;
  top: -10px;
  right: -10px;
  display: none;
}

#attachment-container .uploading img.delete-file,
#attachment-container .uploaded img.delete-file,
#attachment-container .attachment.uploading .img-upload-loader {
  display: block;
}

.img-upload-loader {
  top: 34px;
  left: 50%;
  -webkit-animation: three-quarters-loader 1250ms infinite linear;
  border: 2px solid #38e;
  border-right-color: transparent;
  border-radius: 50%;
  position: absolute;
  width: 18px;
  height: 18px;
  margin-left: -9px;
  display: none;
}

@-webkit-keyframes three-quarters-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }

}

@keyframes three-quarters-loader {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  100% {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }

}

#last-section .attachment:last-child {
  margin-right: 0;
}

.btn {
  padding: 10px 40px;
  text-align: center;
  font-size: 13px;
  background-color: #fff;
  text-transform: uppercase;
  margin: 0;
  border-radius: 4px;
  letter-spacing: .4px;
  color: #0f8fe1;
  border: 1px solid #0f8fe1;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 20px;
}

/*.btn:hover,
.btn:active,
.btn:focus {
  background-color: #f5f5f5;
}*/

#last-section .submit {
  text-align: center;
}

#last-section .submit-btn {
  background-color: #2dc95e;
  border: none;
  color: #fff;
  margin-top: 8px;
  width: 100%;
  line-height: 1;
  vertical-align: middle;
  padding: 15px 0 13px;
}

#submit-btn.progress {
  position: relative;
  pointer-events: none;
  background-color: #8FE2A9;
}

#submit-btn.progress:before {
  content: " ";
  height: 14px;
  width: 14px;
  border: 2px solid #fff;
  position: absolute;
  -webkit-animation: three-quarters-loader 1250ms infinite linear;
  border-right-color: transparent;
  border-radius: 50%;
  left: 60%;
  top: 11px;
}

#submit-message-btn.progress:before {
  content: " ";
  height: 14px;
  width: 14px;
  border: 2px solid #fff;
  position: absolute;
  -webkit-animation: three-quarters-loader 1250ms infinite linear;
  border-right-color: transparent;
  border-radius: 50%;
  left: 60%;
  top: 64px;
}

.sending-message {
  background-color: #86b6ef;
}

div#thank-section {
  padding: 0;
  margin-top: 0px;
  height: 100%;
}

.thank-note {
  padding: 24px 0;
  color: #333;
  text-align: center;
  padding-top: 40px;
}

.thank-note p {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
  margin: 0;
  color: #737373;
  margin-top: 20px;
}

.thank-note span {
  font-size: 18px;
  font-weight: 500;
}

.home-btn-container {
  text-align: center;
  padding: 10px 0 0;
}

div#network-status {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  background: #ee5953;
  padding: 5px 0;
  line-height: 1.4;
  -webkit-animation: all 2s ease-in forwards;
  color: #fff;
  display: none;
}

#submit-btn.disabled {
  color: rgba(0, 0, 0, .26);
  background-color: #d2d2d2;
}

#back-nav.back-nav-visible {
  display: block;
}
#back-nav {
  background-color: #f5f5f5;
  display: none;
  padding: 0px 20px 0px 21px;
  color: #fff;
  z-index: 1;
  position: fixed;
  top: 0;
  max-height: 48px;
  width: 100%;
}

#back-nav #category-title,
#back-nav #search-field-container,
#back-nav .back-icon-container,
#back-nav .search-icon-container {
  padding: 13px 0;
}

#back-nav .search-field {
  display: none;
}

#back-nav.searching .search-field {
  display: inline-block;
}

.title-search-icon-container,
.back-icon-container,
.search-field,
#category-title,
.search-icon-container {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

#back-nav.searching .title-search-icon-container {
  display: none;
}

#back-nav img {
  width: 13px;
}

#category-title {
  color: #0f8fe1;
  font-size: 16px;
  line-height: 1.4;
  max-width: 85%;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#attachment-container img.delete-file {
  height: 20px;
  width: 20px;
}

.is-typing {
  background-color: #1DA8E8;
}

.not-typing {
  background-color: #C0C0C0;
}

#rainy-cloud {
  display: none;
}

.wrap {
  padding: 110px 0px !important;
  /*width: 90%;*/
  text-align: center;
  overflow: hidden;
  z-index: 1102;
  /*display: inline-block;*/
  vertical-align: middle;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #8F8F8F;
}

.wrap figure.icon {
  margin-bottom: 48px;
  color: #fff;
}

.wrap figure.icon img {
  /*width: 72px;*/
  margin-bottom: 30px;
}
.wrap figcaption {
  color: #1A1A1A;
  text-transform: none;
  font-size: 20px;
  margin-bottom: 10px;
  letter-spacing: -1px;
  opacity: .8;
}

.wrap span.text_primary {
  color: #8F8F8F;
  opacity: .8;
  font-size: 14px;
  display: block;
  line-height: 20px;
  width: 100%;
}


#back-nav .search-icon-container {
  float: right;
  padding-left: 10px;
}

#title-search-icon-container {
  width: 91%;
}

img#search-icon {
  width: 15px;
}

.thank-section-container {
  display: inline-block;
  vertical-align: middle;
}

.category.no-search-result {
  color: #8d8d8d;
  padding-top: 50%;
  border-bottom: none;
  text-align: center;
}

#back-nav.searching .back-icon-container {
  padding-right: 10px;
}

#mail-link-container {
  padding: 14px 0;
}

#mail-link-container span {
  padding-bottom: 5px;
  font-size: 12px;
  color: red;
  display: block;
}

#mail-link-container .mail-link {
  text-transform: capitalize;
  color: #0F8FE1;
  font-size: 14px;
  display: block;
}

#main-section {
  position: relative;
  top: 0;
  display: none;
}

#main-section.back-nav-visible {
  top: 48px;
}
html,body{height:100%;}

#issue-conversation-list {
  border-top: 1px solid #E0E0E0;
  /*margin-top: 95px;*/
  list-style: none;
  padding: 0 0 0 0;
  margin-bottom: 27%;
  margin-top: 0;
}

#past-issue-section {
  /*margin-top: 50px;*/
  list-style: none;
  padding: 50px 0 0 0;
}

#thank-section-ticket-id {
  font-size: 14px;
}

.issue-status {
  display: inline-block;
  /*padding: 6px;*/
  /*width: auto;
  height: 40px;*/
  /*padding-left: 10px;
  padding-right: 10px;*/
  border: 1px solid grey;
  border-radius: 6px;
  /* padding: 0px 0px 0px 21px; */
  text-align: center;
  /*padding-top: 10px;*/
  /* margin-left: 12px; */
}

.resolved {
  background-color: #F7F7F7;
  border: 1px solid #E5E5E5;
  color: #A59E9E;
  float:right;
  width: 78px;
  height: 24px;
  font-size: 12px;
  font-weight: bold;
  padding: 6px;
}

 .open {
  background-color: #1DA8E8;
  border: 1px solid #0F8FE1;
  color: #FFFFFF;
  float: right;
  width: 52px;
  height: 24px;
  font-size: 12px;
  font-weight: bold;
  padding: 6px;
}

.open-status {
  padding: 0px 8px;
  /* padding-left: 8px; */
  font-size: 11px;
  font-weight: bold;
  color: #FFFFFF;
  /* width: 45px; */
  line-height: 25px;
  height: 24px;
  border-radius: 4px;
  background: #1E81F5;
}

.fixed-status-button {
  /*width: 64px;*/
  display: inline-block;
  text-align: center;
}

.vertical-span {
  float: left;
  clear: left;
}

.closed-status {
  /* width: 69px; */
  /*height: 24px;*/
  line-height: 25px;
  padding: 0px 8px;
  font-size: 11px;
  font-weight: bold;
  color: #C0C0C0;
  background-color: #F7F7F7;
  border-radius: 4px;
  /*border: 1px solid #E5E5E5;*/
}

.menu-ticket-id {
  color: #3D475B;
  font-size: 12px;
  font-weight: bold;
}

.menu-created-time {
  color: #8F8F8F;
  font-size: 12px;
  padding-top:2px;
  /*color: #3D475B;
  font-size: 12px;*/
}

.resolved::before {
  content: "RESOLVED";
}
.open:before {
  content: "OPEN";
}

.past-issue-additional-container {
  display: inline-block;
  width: 220px;
}

.attachments-count {
  color: #8F8F8F;
  font-size: 12px;
  font-weight: bold;
}

.attachments-list {
  list-style: none;
  padding: 5px 0 0 0;
}

.attachments-list li {
  display: inline;
  margin-right: 8px;
}

.issue-status-div {
  display: inline-block;
  float: right;
  /*padding: 0px 16px 54px 16px !important;*/
}



#issue-conversation-list .conv-class {
    /*margin: 3px;*/
    /*background-color: #F5F5F5;*/
    font-size: medium;
    padding: 18px 15px 5px 15px;
    /*height: 100px;*/
    /*border-bottom: 1px solid #D8D8D8;*/
    /*border: solid;*/
    /*border-width: 1px;*/
    /*border-radius: 15px;*/
}

#issue-conversation-list .left-conv {
  /*background-color: #F5F5F5;*/
    /*background: honeydew;*/
    /*float: left;*/
    /*height: 100px;*/
    /*width: 100%;*/
    /*margin-left: 25px;*/
}

#issue-conversation-list .right-conv {
  /*background-color: #FAFAFA;*/
  /*height: 100px;*/
  /*background: beige;
  float: right;
  width: 100%;*/
}

.conversation-list-container {
  border-bottom: 1px solid #EBEBEB;
}

.conversation-post-details {
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  padding: 8px 0px 8px 10px;
}

.conversation-meta-data {
  display: flex;
}

.conversation-timestamp {
  font-weight: normal;
  display: inline-block;
  padding: 8px 0px 8px 12px;
  font-size: 12px;
  color: #8F8F8F;
  margin-left: auto;
}

.conversation-description {
  padding: 0px 0px 10px 42px;
  word-wrap: break-word;
  font-size: 14px;
  color: #1C1C1C;
  font-weight: normal;
  line-height: 22px;
  white-space: pre-wrap;
  /*margin-top: -15px;*/
}

#no-content-section {
  display: none;
}

#server-error{
  display: none;
}

input.textarea {
    /*position: fixed;*/
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 50px;
    z-index: 99;
    background: #fafafa;
    border: none;
    outline: none;
    padding-left: 55px;
    padding-right: 55px;
    color: #666;
    font-weight: 400;
}
.emojis {
    position: fixed;
    display: block;
    bottom: 8px;
    /*left: 7px;*/
    width: 34px;
    height: 34px;
    right: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
    cursor: pointer;
}

#submit-message-btn {
  width: 100%;
  text-align: center;
  /* position: fixed; */
  /* display: block; */
  /* bottom: -20px; */
  left: 0;
  height: 50px;
  right: 100px;
  background-repeat: no-repeat;
  background-color: #1E81F5;
  color: #FFFFFF;
  background-size: cover;
  font-size: 16px;
  z-index: 100;
  cursor: pointer;
  margin-bottom: 0;
  border-radius: 0;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
}

.message-section textarea::-webkit-input-placeholder {

  color: #999;

}


.message-section ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #909;
}
.message-section :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #909;
   opacity:  1;
}
.message-section ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #909;
   opacity:  1;
}
.message-section :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #909;
}
.message-section ::-ms-input-placeholder { /* Microsoft Edge */
   color:    #909;
}

#submit-message-btn:disabled {
  background-repeat: no-repeat;
  background-color: #C0C0C0;
  color: #ECECEC;
}

.message-section {
  /*display: none;*/
  position: fixed;
  bottom: 0;
  width: 100%;
  /*padding: 20px;*/
  /*margin-top: 30%*/
}

.message-section textarea {
  /* text-align: center; */
  width: 85%;
  border: none;
  height: 50px;
  /* max-height: 100px; */
  /* border-bottom: 2px solid #d8d8d8; */
  /* border-radius: 6px; */
  /* height: 160px; */
  resize: none;
  /* margin-bottom: 50px; */
  padding: 18px 16px;
  font-family: 'Roboto', sans-serif;
  color: #1A1A1A;
  font-size: 14px;
  margin-bottom: -4px;
  display: inline-block;
  /* position: fixed; */
  /* bottom: 0; */
  /* overflow-y: scroll; */
}

.reply-attachment {
  width: 15%;
  /* border: 1px solid; */
  display: inline-block;
  margin-bottom: -4px;
  height: 50px;
  text-align: center;
  /* margin: 0px auto; */
  /* vertical-align: middle; */
  position: absolute;
  font-size: 28px;
  color: #8F8F8F;
  background-color: #fff;
  margin-left: -4px;
  /* top: 2%; */
  /*border-left: 1px solid #EBEBEB;*/
}

.reply-attachment > span {
  vertical-align: -webkit-baseline-middle;
}

.vertical-line-attachment {
  margin: 8px 0 0 0;
  height: 32px;
  border: 1px solid #EBEBEB;
  float: left;
}

#message-section {
  display: none;
}

.grey-space {

}

.qna-circle {
  text-align: center;
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  color: #fff;
  background: #3d475b;
  /* padding: 15px; */
  line-height: 50px;
  /* margin-left: 8px; */
  font-size: 16px;
}

.profile-circle {
  text-align: center;
  display: inline-block;
  width:32px;
  height:32px;
  border-radius:250px;
  /*font-size:14px;*/
  color:#fff;
  /*line-height:500px;*/
   background:#D8D8D8;
   /*padding: 6px 0px 0px 10px;*/
   /*padding-left: 6px;*/
   padding-top: 6px;
}

.arrow-down {
  display: inline-block;
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #1DA8E8;
}

.answer-label {
  display: inline-block;
  color: #1DA8E8;
  font-size: large;
}

#loading-bar {
  display:none
}

#small-loading-bar {
  display:none
}

#conv-small-loading-bar {
  display:none
}

.loading {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  opacity: 1;
  filter: alpha(opacity=80);
}

.small-loading {
  text-align: center;
}

.small-loading>img{
  width: 48px;
  height: 48px;
  -webkit-animation:spin .8s linear infinite;
  -moz-animation:spin .8s linear infinite;
  animation:spin .8s linear infinite;
}

.loading>img{
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-animation:spin .8s linear infinite;
  -moz-animation:spin .8s linear infinite;
  animation:spin .8s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
