@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  src: url('file:///android_asset/fonts/Roboto-Thin.ttf') format('truetype'),

}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src:  url('file:///android_asset/fonts/Roboto-Light.ttf')  format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('file:///android_asset/fonts/Roboto-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('file:///android_asset/fonts/Roboto-Medium.ttf')  format('truetype') ;
}

